.patient-info {
  padding: 50px;
  /* max-height: auto; */
}

@media (max-width: 556px) {
  .patient-info {
    padding: 30px 15px;
  }
}

.patient-info .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-info .editPatientInfo .main-info,
.patient-info .editPatientInfo .next-visits .content {
  display: flex;
  flex-wrap: wrap;
}
.patient-info .editPatientInfo .main-info > div {
  flex-grow: 1;
}

.patient-info .editPatientInfo > div label {
  font-size: 1.2rem;
}

.patient-info .editPatientInfo .marital-status .status-container,
.patient-info .editPatientInfo .pregnant-status .status-container,
.patient-info .editPatientInfo .sick-history .popular-sicks {
  display: flex;
  align-items: center;
}

.patient-info .editPatientInfo .sick-history .popular-sicks > div {
  display: flex;
}

.patient-info .editPatientInfo .marital-status .status-container input,
.patient-info .editPatientInfo .pregnant-status .status-container input,
.patient-info .editPatientInfo .sick-history .popular-sicks input {
  margin: 0 5px 5px 10px;
}

.patient-info .editPatientInfo button {
  background-color: var(--blue);
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.patient-info .editPatientInfo button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.patient-info div.css-1nmdiq5-menu {
  top: -310px;
  box-shadow: 0 0 10px rgb(0, 0, 0 / 0.5);
}

.d-flex.justify-content-center.flex-wrap.gap-3::before {
  bottom: -10px;
}
.d-flex.justify-content-center.flex-wrap.gap-3:after {
  top: -10px;
}

.d-flex.justify-content-center.flex-wrap.gap-3 {
  position: relative;
  padding: 10px 0;
}
.d-flex.justify-content-center.flex-wrap.gap-3::before,
.d-flex.justify-content-center.flex-wrap.gap-3::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: #000;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%; /* set the width to 80% */
  max-width: 800px;
  overflow-y: auto;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* print paper */
.printed-paper {
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 90px;
  margin-left: 10px;
}

.header .logo h1 {
  font-weight: bold;
}
.printed-paper .header .logo > div > p {
  font-size: 18px;
}

.printed-paper .main-data h5 {
  margin: 20px 0;
  line-height: 1.6;
}

.printed-paper .main-data .mouth {
  width: 100%;
}

.printed-paper .main-data .mouth img {
  max-height: 350px;
}

.printed-paper table {
  margin-top: 50px;
}

.printed-paper table td,
.printed-paper table th {
  height: 20px;
  text-align: center;
}
table.table-bordered {
  border: 1px solid #000;
  margin-top: 20px;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #000;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #000;
}
@media print {
  .patient-info {
    display: none;
  }
  .printed-paper {
    display: block !important;
  }
}
