table.data-table {
  font: 400 22px var(--font);
  width: 100%;
  border: none;
  border-collapse: collapse;
  border: 1px solid #000;
  border-top: 0;
  text-align: center;
}
table.data-table thead {
  background: var(--blue);
  color: var(--white);
  padding: 0;
  border: 0;
}
table.data-table td {
  padding: 10px 5px 5px;
  border-left: 1px solid #000;
}
table.data-table tr {
  border-bottom: 1px solid #000;
}
.many {
  padding: 0;
}
td > p {
  border: none;
  display: block;
  padding: 5px;
}
td > p:not(:last-child) {
  border-bottom: 1px solid #000;
}
table.data-table button {
  all: initial;
  font: 500 18px var(--font);
  color: var(--white);
  background: var(--blue);
  padding: 5px;
  cursor: pointer;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}
table.data-table button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.data > form {
  width: 100%;
}
.data > form > input {
  box-sizing: border-box;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--blue);
  margin-bottom: 30px;
  font: 400 25px var(--font);
  color: #000;
  padding: 5px;
}
