table.data-table {
  font: 400 22px var(--font);
  width: 100%;
  border: none;
  border-collapse: collapse;
  border: 1px solid #000;
  border-top: 0;
  text-align: center;
  overflow-x: scroll;
}

table.data-table thead {
  background: var(--blue);
  color: var(--white);
  padding: 0;
  border: 0;
}

table.data-table td {
  padding: 10px 5px;
  border-left: 1px solid #000;
}

table.data-table tr {
  border-bottom: 1px solid #000;
}

table.data-table a,
table.data-table button {
  all: initial;
  font: 500 18px var(--font);
  color: var(--white);
  background: var(--blue);
  padding: 5px;
  cursor: pointer;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 5px;
}

@media (max-width: 556px) {
  table.data-table a,
  table.data-table button,
  table.data-table {
    font-size: 0.8em;
  }
}

table.data-table button.delete {
  background-color: rgb(205, 0, 0);
  margin-right: 10px;
}

@media (max-width: 350px) {
  table.data-table button.delete {
    margin: 5px;
  }
}

.all-patients form {
  width: 100%;
}

.all-patients form input[type="search"] {
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid var(--blue);
  outline: none;
  margin-bottom: 30px;
  font: 400 25px var(--font);
  color: #000;
  padding: 5px;
  width: 100%;
}

@media (max-width: 556px) {
  .all-patients form input[type="search"] {
    font-size: 16px;
  }
}
