nav {
  width: 100%;
  background: var(--blue) !important;
  margin-bottom: 20px;
  padding: 0 !important;
  position: sticky !important;
  top: 0;
  z-index: 5;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .navbar-brand {
  display: flex;
  align-items: center;
}

nav .container .navbar-brand img {
  width: 60px;
}

nav .container .navbar-brand span {
  color: var(--white);
  font-family: var(--font);
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

nav .container .navbar-toggler {
  border: none !important;
  color: white;
  font-size: 30px;
  box-shadow: none;
}

nav .container ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

nav a:not(.navbar-brand) {
  font-family: var(--font);
  color: var(--white) !important;
  padding: 20px 15px !important;
  transition: var(--transition-time) !important;
  -webkit-transition: var(--transition-time) !important;
  -moz-transition: var(--transition-time) !important;
  -ms-transition: var(--transition-time) !important;
  -o-transition: var(--transition-time) !important;
  font-weight: bold !important;
  cursor: pointer !important;
  font-size: 1.2em;
}

nav a:hover:not(.navbar-brand) {
  background: var(--white) !important;
  color: #000 !important;
}

nav a.current-page {
  background: var(--white) !important;
  color: #000 !important;
}
