.static {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* [class^="highcharts-container"] {
  width: 990px !important;
  margin-bottom: 40px;
  display: block;
} */

.highcharts-container,
.highcharts-container svg {
  width: 100% !important;
  height: 100% !important;
}

[class^="highcharts-container"] {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  [class^="highcharts-container"] {
    width: 680px !important;
    height: 430px !important;
  }
  .statistics-table {
    font-size: 0.7em;
  }
}

@media (max-width: 768px) {
  [class^="highcharts-container"] {
    width: 560px !important;
    height: 385px !important;
  }
  .statistics-table {
    font-size: 0.5em;
  }
}

@media (max-width: 576px) {
  [class^="highcharts-container"] {
    width: 300px !important;
    height: 200px !important;
  }
}

.data-table {
  padding: 10px;
  max-width: 100% !important;
  overflow-x: scroll;
}

.data-table th,
.data-table td {
  padding: 15px;
}
