.static {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* [class^="highcharts-container"] {
  width: 990px !important;
  margin-bottom: 40px;
  display: block;
} */

.highcharts-container,
.highcharts-container svg {
  width: 100% !important;
  height: 100% !important;
}

[class^="highcharts-container"] {
  margin-bottom: 50px;
}

.statistics-table {
  overflow: hidden;
}
.statistics-table tbody tr:hover {
  background: rgba(0, 0, 0, 0.3);
}
.statistics-table tbody td {
  position: relative;
}
.statistics-table tbody td:hover {
  background: #fff;
}
.statistics-table tbody td:hover::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 9999px;
  top: -2000px;
  z-index: -1;
  margin:0 -8px;
}

@media (max-width: 991px) {
  [class^="highcharts-container"] {
    width: 680px !important;
    height: 430px !important;
  }
  .statistics-table {
    font-size: 0.7em;
  }
}

@media (max-width: 768px) {
  [class^="highcharts-container"] {
    width: 560px !important;
    height: 385px !important;
  }
  .statistics-table {
    font-size: 0.5em;
  }
}

@media (max-width: 576px) {
  [class^="highcharts-container"] {
    width: 300px !important;
    height: 200px !important;
  }
}

.data-table {
  padding: 10px;
  max-width: 100% !important;
  overflow-x: scroll;
}

.data-table th,
.data-table td {
  padding: 15px;
}
