@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #207bffff;
  --white: #f5f7faff;
  --transition-time: 0.2s;
  --font: "Tajawal", sans-serif;
}
select:focus {
  box-shadow: none !important;
}

:is(select):hover {
  cursor: pointer;
}
[type='time'] {
  display: flex;
}
a {
  user-select: none;
}

body {
  background: var(--white);
  direction: rtl;
  font-family: var(--font) !important;
}
