@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #207bffff;
  --white: #f5f7faff;
  --transition-time: 0.2s;
  --font: "Tajawal", sans-serif;
}
select:focus {
  box-shadow: none !important;
}

:is(select):hover {
  cursor: pointer;
}
[type='time'] {
  display: flex;
}
a {
  user-select: none;
}

body {
  background: var(--white);
  direction: rtl;
  font-family: var(--font) !important;
}
  
/* for select element */
.css-b62m3t-container {
  padding: 0 ;
}

/* for scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--white);       
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}
/* for customize date and time picker */
:is(.visit-date, .visit-time) > div {
  background: #fff;
  direction: ltr;
  display: flex;
}
:is(.visit-date, .visit-time) > div > div + p {
  background: var(--white);
  margin: 0;
  padding: 5px ;
}
:is(.visit-date, .visit-time) > div input {
  padding: 8px 5px !important;
}
:is(.visit-date, .visit-time) > div button {
  padding: 5px !important;
}
.css-trxt40-MuiTimePickerToolbar-hourMinuteLabel {
  flex-direction: row-reverse;
}