/* .add .container {
  display: ;
} */
/* .add form {
  margin: auto;
  width: 500px;
  gap: 10px;
  padding: 50px;
  font-family: var(--font);
}

.add form label {
  font-weight: 500;
  font-size: 22px;
  color: var(--white);
}

.add form input {
  background: var(--white);
  font-family: inherit;
  font-size: 18px;
  padding: 5px 2px;
}

.add form a {
  margin-top: 10px;
  color: #000;
  background-color: var(--white);
  justify-self: center;
  padding: 10px;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-time);
  -webkit-transition: var(--transition-time);
  -moz-transition: var(--transition-time);
  -ms-transition: var(--transition-time);
  -o-transition: var(--transition-time);
}

.add form a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
} */

.add {
  padding: 70px 0;
}

.add .container .page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.add .container .page-title h1 {
  background-color: var(--blue);
  padding: 10px 15px;
  color: var(--white);
  width: fit-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add .addNewPatient .main-info,
.add .addNewPatient .next-visits .content {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .add .addNewPatient .main-info {
    display: block;
  }
}

.add .addNewPatient > div,
.add .addNewPatient .main-info > div,
.add .addNewPatient .next-visits .content > div {
  margin: 20px 0 20px 20px;
}

.add .addNewPatient > div label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.add .addNewPatient .marital-status .status-container,
.add .addNewPatient .pregnant-status .status-container,
.add .addNewPatient .sick-history .popular-sicks {
  display: flex;
  align-items: center;
}

.add .addNewPatient .marital-status .status-container input,
.add .addNewPatient .pregnant-status .status-container input,
.add .addNewPatient .sick-history .popular-sicks input {
  margin: 0 5px 5px 10px;
}

.add .addNewPatient button {
  background-color: var(--blue);
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.add .addNewPatient button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
